@{
  Layout = "_Layout";
}

@* @using VendorOrders.Models; *@

@* <h1>Add a new order to @Model.Name</h1> *@

@* <form action="/vendors/@Model.VendorId/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.VendorId">
  <label for="orderDescription">Order Description</label>
  <input id="orderDescription" name="orderDescription" type="text">
  <label for="orderPrice">Order Price</label>
  <input id="orderPrice" name="orderPrice" type="decimal">
  <button type='submit'>Add Order</button>
</form> *@

<h1>add an order</h1>