@{
  Layout = "_Layout";
}

<h1>Track Customer Orders Here!</h1>
<h3><a href='/vendors'>View customers</a></h3>
<h3><a href='/vendors/new'>Add a new customer</a></h3>
<h3><a href='/orders'>View orders</a></h3>
<h3><a href='/orders/new'>Add a new order</a></h3>