<div id="footer">
  <br>
  @Html.ActionLink("Home", "Index", "Home")
  <img id="footer-image" src="~/images/orders-icon.png" width="15px" height="15px" alt="orders icon">
  @Html.ActionLink("Customers", "Index", "Vendors")
</div>